<div class="container">
  <h2>Manage categories</h2>
  <div class="mt-4 mb-2 col-lg-4">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="search" name="search">
      <button class="btn btn-outline-success" type="submit" (click)="onSearch()" >Search</button>
    </form>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Detail</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of categories">
      <td>{{ category.name | titlecase }}</td>
      <td>{{ category.description | titlecase }}</td>
      <td>
        <button class="btn btn-outline-info" (click)="openCategoryDetail(category)">
          <i class="fa-sharp-duotone fa-solid fa-circle-info"></i>
        </button>
      </td>
      <td>
        <button class="btn btn-outline-primary" (click)="updateCategory(category)">
          <i class="fa-sharp-duotone fa-solid fa-pen"></i>
        </button>
      </td>
      <td>
        <button class="btn btn-outline-danger" (click)="deleteCategory(category)">
          <i class="fa-sharp-duotone fa-solid fa-trash"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="totalItems && showPagination" class="mb-4">
    <app-pagination
      [currentPage]="currentPage"
      [itemsPerPage]="itemsPerPage"
      [totalItems]="totalItems"
      (pageChanged)="onPageChange($event)"
    ></app-pagination>
  </div>
</div>
