<div class="container" *ngIf="products">
  <h2>Manage products</h2>
  <div class="mt-4 mb-2 col-lg-4">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="search" name="search">
      <button class="btn btn-outline-success" type="submit" (click)="onSearch()" >Search</button>
    </form>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Category name</th>
      <th>Category description</th>
      <th>Detail</th>
      <th *hasRole="'ADMIN'">Update</th>
      <th *hasRole="['ADMIN', 'MANAGER']">Delete</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name | titlecase }}</td>
        <td>{{ product.price | currency:'USD' }}</td>
        <td>{{ product.category.name | titlecase }}</td>
        <td>{{ product.category.description | titlecase }}</td>
        <td>
          <button class="btn btn-outline-info" (click)="openProductDetail(product)">
            <i class="fa-sharp-duotone fa-solid fa-circle-info"></i>
          </button>
        </td>
        <td *hasRole="'ADMIN'">
          <button class="btn btn-outline-primary" (click)="updateProduct(product)">
            <i class="fa-sharp-duotone fa-solid fa-pen"></i>
          </button>
        </td>
        <td *hasRole="['ADMIN', 'MANAGER']">
          <button class="btn btn-outline-danger" (click)="deleteProduct(product)">
            <i class="fa-sharp-duotone fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="totalItems && showPagination" class="mb-4">
    <app-pagination
      [currentPage]="currentPage"
      [itemsPerPage]="itemsPerPage"
      [totalItems]="totalItems"
      (pageChanged)="onPageChange($event)"
    ></app-pagination>
  </div>
</div>
