<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h3>User Profile</h3>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4 font-weight-bold">Name:</div>
        <div class="col-md-8">{{ user?.username }}</div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4 font-weight-bold">Role:</div>
        <div class="col-md-8">{{ user?.roles }}</div>
      </div>

      <div class="text-center">
        <button class="btn btn-danger" (click)="logout()">
          <i class="fa fa-sign-out"></i> Logout
        </button>
      </div>
    </div>
  </div>
</div>
