<div class="container">
  <div>
    <h2> {{ actionTitle }} </h2>
  </div>
  <form>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Category name</label>
      <input type="text" [(ngModel)]="category.name" name="categoryName" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-4">
      <label>Category description</label>
      <input type="text" [(ngModel)]="category.description" name="categoryDescription" class="form-control">
    </div>
    <div class="mt-2">
      <button type="submit" (click)="onAction()" class="btn btn-success"> {{ action }} </button>
    </div>
  </form>
</div>
